body {
    font-family: 'Open Sans', sans-serif;
}    

.searchPage__header {
    display: flex;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    align-items: flex-start;
    padding: 30px;
    border-bottom: 1px solid lightgray;
}

.searchPage__logo {
    object-fit: contain;
    height: 70px;
    margin-right: 50px;
    margin-left: 80px;
}

.searchPage__headerBody > .search > .search__input {
    margin-top: 0;
    width: unset;
    margin: unset;
    max-width: unset;
}

.addTo__button {
   
    margin: 5px;
    padding: 7px 15px;
    background-color: #f8f8f8;
    border: 1px solid white;
    text-transform: inherit;
    color: #5f6368;
}

.searchPage__options {
    display:flex;
    align-items: center;
    color: grey;
}

.searchPage__options a, .searchPage__optionsRight a {
    text-decoration: none;
    color: grey;
}

.searchPage__optionsRight, .searchPage__optionsLeft {
    display: flex;
}

.searchPage__optionsRight {
    margin-left: 80px;
}

.searchPage__option {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.searchPage__option a {
    font-size: 14px;
    margin-left: 5px;
}

.searchPage__option:hover {
    color: #4d90fe;
}

.searchPage__result {
    margin: 40px 0;
}

.searchPage__resultCount {
    color: #70757a;
    font-size: 14px;
}

.searchPage__results {
    max-width: 650px;
    margin-top: 20px;
    margin-left: 240px;
    margin-bottom: 100px;
}

.searchPage__resultImage {
    object-fit: contain;
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.searchPage__resultTitle {
    text-decoration: none;
    font-size: 14px;
    color: #000080
}

.searchPage__resultTitle:hover {
    text-decoration: underline;
}

.searchPage__resultTitle > h2 {
    font-weight: 500;
}

.searchPage__resultLink {
    color: #00644D;
}

.searchPage__resultSnippet {
    margin-top: 10px;
    color: #353535;
    line-height: 22.12px;
}

.searchPage__option > .MuiSvgIcon-root {
    font-size: 18px;
}

.beta {
    margin-right: 0%;
    height: 50px;
    width: 50px;
}